.container {
  background-color: rgb(112, 105, 67);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.draggable {
  display: flex;
  gap: 20px;
  position: relative;
}

.note {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: grab;
  text-align: center;
  padding: 10px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag_container {
  position: absolute;
}